@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --font-family: 'Lato', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
    --color-title: #f2f2f2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    font-family: var(--font-family);
    color: var(--color-title);
}

.bg-gradient {
    /* ff 3.6+ sdds*/
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navigation {
    overflow: hidden;
    width: 100%;
}

a.title {
    font-weight: bold;
    font-family: cursive;
}

.navigation a {
    float: left;
    display: block;
    color: var(--color-title);
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.navigation .icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navigation a:not(:first-child) {
        display: none;
    }
    .navigation a.icon {
        float: right;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
    .navigation.responsive a.title {
        text-align: left;
    }
}

.about-section {
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.about-title {
    margin: auto;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.left {
    padding: 2rem;
    width: 55%;
    float: left;
    text-align: center;
}

.right {
    float: right;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .about-section {
        padding: 3.7rem;
    }
    .content {
        flex-direction: column;
    }
    .left {
        padding: 1rem;
        width: 100%;
        float: none;
    }
    .right {
        z-index: -1;
        position: fixed;
    }
    .ai-img {
        opacity: 0.5;
    }
}

.text {
    padding: 2rem 0;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.ai-img {
    width: 30rem;
    height: 30rem;
    background-size: cover;
}

.footer {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
}

.social-media {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    color: var(--color-title);
    margin: auto;
    padding: 0 0.5rem;
}

.footer-text {
    text-align: center;
    padding: 1rem;
}

.container {
    margin: auto;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.sentiment-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--color-text);
    overflow-x: auto;
}

.sentiment-table tr:nth-child(even) {
    background-color: var(--color-blog)
}

.sentiment-table th,
.sentiment-table td {
    text-align: left;
    padding: 8px;
}


/* DO OVDE JE base.html 
I SAD POČINJU login.html i sign_up.html*/

.main-block {
    max-width: 340px;
    padding: 10px 0;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
    background: var(--color-footer);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.summary {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    background: var(--color-footer);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    outline: none;
}

.summary a {
    color: var(--color-subtext);
}

.summary a:hover {
    color: var(--color-title);
    cursor: pointer;
}

.summary .text {
    padding: .5rem 0;
}

.login-title {
    text-align: center;
    padding: 1rem 0;
}

form {
    padding: 0;
    margin: 0 30px;
    outline: none;
    font-size: 16px;
}

label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}

#icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    background: var(--gradient-bar);
    color: var(--color-title);
    text-align: center;
    font-size: 16px;
}

input[type] {
    width: calc(100% - 57px);
    height: 38px;
    font-size: 16px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: var(--color-title);
    outline: none;
}

.btn-block {
    text-align: center;
}

.btn {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    background: var(--gradient-bar);
    color: var(--color-title);
    font-weight: bold;
}


/* ALERT dio */

.alert {
    margin: auto;
    padding: 1rem;
    text-align: center;
    max-width: 340px;
    border-radius: 8px;
}

.alert-danger {
    background-color: rgb(233, 117, 117);
    color: rgb(99, 30, 30);
}

.alert-btn {
    background: none;
    border: none;
}

.alert-success {
    background-color: rgb(123, 197, 123);
    color: rgb(28, 83, 28);
}