<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='img/tweet.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav class="bg-gradient navbar">
        <div class="navigation" id="navigation">
            <a href="#" class="title">TWEEEETS</a> {% if user.is_authenticated %}
            <a class="nav-link" id="home" href="/">Home</a>
            <a class="nav-link" id="logout" href="/logout">Logout</a> {% else %}
            <a class="nav-link" id="aboutus" href="#aboutus">About us</a>
            <a class="nav-link" id="login" href="/login">Login</a>
            <a class="nav-link" id="signUp" href="/sign-up">Sign Up</a> {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>

    <div class="about-section" id="aboutus">
        <h1 class="about-title gradient-text">Who are we?</h1>
        <h3 class="text">We're a team of young developers from FER with a vision for a better tomorrow.</h3>
        <div class="content">
            <div class="left">
                <h2 class="about-title gradient-text">What is our goal?</h2>
                <p class="text text-bold">Twitter is a social network where users post messages (so-called tweets) about things from everyday life. Tweets usually suggest some emotional state (e.g &#128522; &#128528; &#128546;) of the users who post them. In the simplest variant,
                    the polarity of the message regarding the expressed emotions can be established. This is known as the sentiment analysis.
                </p>
                <h2 class="about-title gradient-text">How did we accomplish this?</h2>
                <p class="text text-bold">
                    Like every other developers we spent majority of time Googling stuff we know nothing about and ended up being even more confused than at the beginning &#128513;. Taking everything into consideration we started grinding even more and our hard work finally
                    paid off. We figured AI and Machine learning were our best friends and we weren't wrong.</p>
                <h2 class="about-title gradient-text">Wonder how to use our app?</h2>
                <p class="text text-bold">
                    Simply fill out registration form below (if you haven't already) and enjoy discovering polarity of your friends' tweets!
                </p>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='img/ai.png') }}" class="ai-img scale-up-center">
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
    <div id="alert" class="alert alert-danger" role="alert">
        {{ message }}
        <button type="button" class="alert-btn" data-dismiss="alert" onclick="toggleAlert()">
			<i class="far fa-times-circle"></i>
		</button>

    </div>
    {% endif %} {% if category == 'success' %}
    <div id="alert" class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="alert-btn" data-dismiss="alert" onclick="toggleAlert()">
			<i class="far fa-times-circle"></i>
		</button>
    </div>
    {% endif %} {% if category == 'tweets' %}
    <div class="container">
        <div class="content">
            <div class="summary">
                <h2 class="about-title gradient-text"> Summary</h2>
                <hr>
                <div>
                    <p class="text text-bold">
                        We pulled the last {{message.number}} tweets of @{{message.user}} since {{message.date}} and then we used LSTM neural network to predict their sentiment.
                    </p>
                    <p class="text text-bold">
                        We trained our model on which can be found <a href="https://www.kaggle.com/crowdflower/twitter-airline-sentiment"> here </a> and it has accuracy 96.05% and f1 97.03% .
                    </p>
                    <p class="text text-bold">
                        Possible sentiments are 'positive' and 'negative'. It is possible to get 'Not enough data' if the tweet is empty after processing meaning it only contained links, emojis, interpuction...
                    </p>
                </div>

            </div>

        </div>
        <div class="content">

            <table class="sentiment-table">
                <tr>
                    <th>Tweet</th>
                    <th>Sentiment</th>
                </tr>


                {% for row in message.tweets %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}
                        <td>
                </tr>
                {% endfor %}

            </table>
        </div>

    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer class="footer">
        <h3 class="gradient-text footer-text">Check our project on GitLab and make sure to follow us! </h3>
        <div class="social-media">
            <a href="https://gitlab.com/domamaric/projekt-r" class="footer-link">
                <i class="fab fa-gitlab fa-2x"></i></a>
            <a href="#" class="footer-link">
                <i class="fab fa-twitter fa-2x"></i></a>
            <a href="#" class="footer-link">
                <i class="fab fa-instagram fa-2x"></i></a>
        </div>
        <div class="text">
            &COPY; 2021 Projektni Tim - All rights reserved
        </div>
    </footer>

    <script>
        function toggleNavbar() {
            let nav = document.getElementById("navigation");
            if (nav.className === "navigation") {
                nav.className += " responsive";
            } else {
                nav.className = "navigation";
            }
        }

        function toggleAlert() {
            let alert = document.getElementById("alert");
            alert.remove();
        }
    </script>
</body>

</html>