{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="main-block">
    <h2 class="gradient-text text">Tweets fetch:</h2><hr>
    <form role="Form" method="POST" action="" accept-charset="UTF-8">
        <label id="icon" for="fname"><i class="fas fa-users"></i></label>
        <input type="text" id="user" class="form-control" name="user" placeholder="Enter username">

        <label id="icon" for="number"><i class="fab fa-twitter"></i></label>
        <input type="number" id="number" class="form-control" name="number" placeholder="Number of Tweets">

        <label id="icon" for="date"><i class="fas fa-calendar-alt"></i></label>
        <input type="date" id="date" class="form-control" name="date" placeholder="Date">

        <div class="btn-block">
            <button type="submit" class="btn" id="submitbtn" name="submit">Get statistics</button>
        </div>
    </form>
</div>

{% endblock %}