{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="main-block">
    <h2 class="gradient-text login-title">Login</h2>
    <form role="Form" method="POST" accept-charset="UTF-8">
        <label id="icon" for="fname"><i class="fas fa-envelope"></i></label>
        <input type="text" id="email" class="form-control" name="email" placeholder="Email" required>
        <label id="icon" for="password"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>

        <div class="btn-block">
            <button type="submit" class="btn" id="submitbtn" name="submit">LOGIN</button>
        </div>
    </form>
</div>

{% endblock %}