{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="main-block">
    <h2 class="gradient-text login-title">Sign Up!</h2>
    <form role="Form" method="POST" action="" accept-charset="UTF-8">
        <label id="icon" for="emailaddr"><i class="fas fa-envelope"></i></label>
        <input type="email" id="email" class="form-control" name="email" placeholder="Enter email" required>

        <label id="icon" for="password"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" id="password1" class="form-control" name="password1" placeholder="Enter password"
            required>

        <label id="icon" for="verifypass"><i class="fas fa-lock"></i></label>
        <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm password"
            required>

        <div class="btn-block">
            <button type="submit" class="btn" id="submitbtn" name="submit">Sign up!</button>
        </div>
    </form>
</div>

{% endblock %}